@page "/"

<PageTitle>HSL City Bike Stats 2021</PageTitle>
<h3>This website shows information about HSL City Bike usage from the year 2021.<br>
	<b>On desktop:</b> Use the side bar to navigate. <br>
	<b>On mobile:</b> Use the drop down list to navigate. <br>
</h3>

@code {

}